//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        // Base Layer (QWERTY + Mac Mods)  

        default_layer {
            bindings = <
            &kp Q  &kp W  &kp F    &kp P  &kp B        &kp J         &kp L      &kp U    &kp Y      &kp SEMI
            &kp A  &kp R  &kp S    &kp T  &kp G        &kp M         &kp N      &kp E    &kp I      &kp O
&kp ESCAPE  &kp Z  &kp C  &kp D    &kp V  &kp K        &kp H         &kp COMMA  &kp DOT  &kp SLASH  &kp LGUI  &kp LALT
                          &kp TAB  &mo 0  &kp SPACE    &kp NUMBER_1  &kp DEL    &kp RET
            >;
        };

        // Layer 1: Numbers + Symbols  
        // Layer 2: Navigation + Function Keys  
    };
};
